<app-header></app-header>
<div class="home text-center mt-2">
    <h1> Все заметки</h1>
    <div class="top">
        <div class="search-block">
            <img src="assets/search.png" alt="Search" />
            <input [(ngModel)]="searchText" placeholder="Поиск..." />

        </div>
        <button class="btn btn-primary " (click)="onCreate()">Добавить заметку</button>
    </div>

    <div class="card-container">
        <ng-container *ngFor="let card of cards|filter:searchText">
            <app-card [card]="card"></app-card>
        </ng-container>
    </div>
</div>