<app-header></app-header>
<div class="home text-center mt-2 ">
    <h1>Создание заметки</h1>
    <form [formGroup]="subForm" (ngSubmit)="onSumbit()" class="form">
        <div class="input-group mb-3 ">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Заголовок</span>
            </div>
            <input type="text" class="form-control" aria-label="Default">
        </div>

        <div class="input-group  mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text ">Текст</span>
            </div>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <button  type="submit" class="btn btn-success">Создать</button>
    </form>
    
</div>
